
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #00d2ff, #3a7bd5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app {
    background: #fff;
    padding: 30px 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 550px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-top: 50px;
}

.todo-app:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 26px;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h2 img {
    margin-left: 10px;
    width: 35px;
    height: 35px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    outline: none;
    font-size: 16px;
}

input:focus {
    border-color: #00d2ff;
}

button {
    padding: 10px 20px;
    background-color: #ff5945;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1deaea;
    box-shadow: 0 10px 20px rgba(255, 117, 140, 0.3);
}

#list-container {
    list-style-type: none;
    padding: 0;
}

#list-container li {
    background-color: #f7f7f7;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease;
}

#list-container li:hover {
    background-color: #e0e0e0;
}

ul li span {
    color: #ff5945;
    cursor: pointer;
    font-size: 20px;
    margin-left: auto; 
    padding-right: 10px;
}

ul li span:hover {
    color: #ff9a9e;
    transition: color 0.3s ease;
}

ul li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('images/unchecked.png'); 
}

ul li.checked::before {
    background-image: url('images/checked.png'); 
}

.checked {
    text-decoration: line-through;
    color: #888;
}


#list-container li {
    padding-left: 50px; 
}

@media (max-width: 768px) {
    .todo-app {
        width: 90%;
    }
}
